# Python tutorial

In [7]:
print("hello world")

hello world

### declaring variable
- string variable declaring
- integer variable declaring
- floating variable declaring
- boolean variable declaring

In [8]:
a="hello"
b="world"

In [9]:
print(a,b)

hello world

In [10]:
a = 3 
b = 5

In [11]:
print(a,b)

3 5

In [12]:
a = 3.4
b = 2.0

In [13]:
print(a,b)

3.4 2.0

In [14]:
 a = True
 b = False

In [15]:
print(a,b)

True False

### copying variable values

In [16]:
a = 10
b = a

In [17]:
print(a,b)

10 10

In [18]:
a = 11

In [19]:
print(a,b)

11 10

In [20]:
a = "hello"
b = a

In [21]:
print(a,b)

hello hello

In [22]:
a ="world"

In [23]:
print(a,b)

world hello

### Data structures in python 
- List 
- Tuple
- Set
- Dictionary

#### List

In [24]:
 a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
b = ["cat", "dog", "peacock"]

In [27]:
print(b)

['cat', 'dog', 'peacock']

In [28]:
print(a[4])

5

In [29]:
print(b[1])

dog

In [30]:
print(len(a))

10

In [31]:
print(len(b))

3

In [32]:
print(a[0:4])

[1, 2, 3, 4]

In [33]:
print(a[1:5])

[2, 3, 4, 5]

In [34]:
print(b[1:3])

['dog', 'peacock']

In [35]:
print(a[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
print(a[-1])

10

In [37]:
print(a[-2])

9

In [38]:
print(b[-1])

peacock

In [39]:
print(sum(a))

55

In [40]:
print(sum(a[:5]))

15

In [41]:
print(max(a))

10

In [46]:
print(min(a))

1

In [48]:
print(f"Max value: {max(b)}, Min value: {min(b)}")

Max value: peacock, Min value: cat

In [52]:
# print(sum(b))

# int value only

In [53]:
print(type(b[0]))

<class 'str'>

In [57]:
# multiple datatype list

c = [1, 2, 3, "cat", "dog", 4, 5, 2.467, 4.56]

In [56]:
print(c)

[1, 2, 3, 'cat', 'dog', 4, 5, 2.467, 4.56]

In [66]:
# merging 2 lists a, b
d = [a, b]

In [67]:
print(d)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], ['cat', 'dog', 'peacock']]

In [68]:
print(d[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
print(d[1])

['cat', 'dog', 'peacock']

In [70]:
print(d[0][0])

1

In [71]:
print(d[0][5])

6

In [72]:
print(d[1][1])

dog

In [73]:
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'cat', 'dog', 'peacock']

In [86]:
a = [1, 2, 3]
a.append([4, 5])

In [87]:
print(a)

[1, 2, 3, [4, 5]]

In [88]:
a[3]

[4, 5]

In [95]:
a = [2, 3, 4, 5] 
b = [6, 7, 8, 9]
a.append(b)

In [96]:
print(a)

[2, 3, 4, 5, [6, 7, 8, 9]]

In [97]:

a = [2, 3, 4, 5] 
b = [6, 7, 8, 9]
print(a+b)

[2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
a = [2, 3, 4, 5] 
b = [6, 7, 8, 9]
print([a, b])

[[2, 3, 4, 5], [6, 7, 8, 9]]

In [102]:
a = [2, 3, 4, 5] 
a.append(11)

In [103]:
a

[2, 3, 4, 5, 11]

In [104]:
a.append("dog")

In [105]:
print(a)

[2, 3, 4, 5, 11, 'dog']

##### tuple

In [106]:
a = (1, 2, 3, 4, 5)

In [107]:
print(a)

(1, 2, 3, 4, 5)

In [109]:
# a.append(11)

In [110]:
print(sum(a))

15

In [111]:
print(max(a),min(a))

5 1

In [112]:
a = (0, 1, 2)
b = (3, 4, 5)

In [113]:
print(a+b)

(0, 1, 2, 3, 4, 5)

In [114]:
# list to tuple
a = [2, 4 , 5]
b = tuple(a)

In [115]:
print(b, type(b))

(2, 4, 5) <class 'tuple'>

In [117]:
# tuple to list
a = (2, 4, 5)
b = list(a)

In [118]:
print(b, type(b))

[2, 4, 5] <class 'list'>

#### set

In [119]:
a = {1, 2, 3, 4}

In [120]:
print(a)

{1, 2, 3, 4}

In [121]:
a = {1, 1, 2, 4, 4, 3, 3, 3}

In [122]:
print(a)

{1, 2, 3, 4}

In [125]:
b = {"dog", "cat", "cat"}

In [127]:
print(b)

{'dog', 'cat'}

In [128]:
b = {"dog", "cat", "dog", "meau", "meau"}

In [129]:
print(b)

{'dog', 'cat', 'meau'}

In [130]:
# list to set conversion
a = [1, 1, 2, 4, "air", "water", 4]

In [131]:
b = set(a)

In [132]:
print(b)

{1, 2, 4, 'water', 'air'}

In [133]:
# set to list 
a = {1, 2, 3, 4, 4, 3}
b = list(a)

In [134]:
print(b)

[1, 2, 3, 4]

In [135]:
# tuple to set
a = (1, 2, 3, 3, 2)
b = set(a)

In [136]:
print(b)

{1, 2, 3}

In [137]:
# set to tuple
a = {1, 2, 2, 3, 4, 4}
b = tuple(a)

In [138]:
print(b)

(1, 2, 3, 4)

#### Dictionary

In [147]:
student = {
    "name": "sid",
    "roll_no": 2
    
}

In [148]:
print(student)

{'name': 'sid', 'roll_no': 2}

In [149]:
print(student.keys())

dict_keys(['name', 'roll_no'])

In [150]:
print(student.values())

dict_values(['sid', 2])

In [158]:
print(student["name"])

sid

In [159]:
print(student["roll_no"])

2

In [152]:
s_1 = {
    "name": "arya",
    "roll_no" : 4,
    "height":144.5
}
s_2 = {
    "name": "sara",
    "roll_no":9, 
    "height":150.99
}

In [153]:
s = [s_1, s_2]

In [154]:
print(s)

[{'name': 'arya', 'roll_no': 4, 'height': 144.5}, {'name': 'sara', 'roll_no': 9, 'height': 150.99}]

In [155]:
print(s[1])

{'name': 'sara', 'roll_no': 9, 'height': 150.99}

In [156]:
print(len(s))

2

In [157]:
print(len(s_1))

3

In [160]:
print(s[0]["name"])

arya

In [161]:
print(s[1]["roll_no"])

9

## create matrics using

In [163]:
m = [[1,2,3], [4,5,6], [7,8,9]]
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [164]:
m*2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Conditions
- Conditional operators 
- If statement 
- If else statement

In [172]:
# conditional operators
5 == 5

True

In [173]:
5 != 5

False

In [174]:
5 ==3

False

In [175]:
5 != 3

True

In [176]:
5 > 10

False

In [177]:
5 < 10

True

In [178]:
5 >=5

True

In [179]:
5 >=10

False

In [185]:
# if statement
if 5 < 10:
    print("hello world")

hello world

In [186]:
if 5 > 10:
    print("hello world")

In [189]:
if 5 == 5:
    print("hello world")

hello world

In [193]:
if 5 != 4:
    print("hello world")

hello world

In [190]:
if True: 
    print("hello world")

hello world

In [191]:
if False:
    print("hello world")

In [194]:
if 5 == 5 and 10 == 10:
    print("hello world")

hello world

In [196]:
if 5 == 5 or 10 == 3:
    print("hello world")

hello world

In [198]:
"hello" == "hello"

True

In [199]:
"hello" != "hello"

False

In [42]:
print()
print("Hello world")

Hello world

In [43]:
print("34")

34

In [44]:
print("\n")
print("Hello World\nHello World")

Hello World
Hello World

In [45]:
print("Hello" + "World")

HelloWorld

In [46]:
print('Hello "Sakib" how are you?')

Hello "Sakib" how are you?

In [49]:
input()
input("What is your name: ")

ff
What is your name: nbh

'nbh'

In [51]:
print(input())
print("Hello "+ input("What is your name:"))

ff
ff
What is your name:fff
Hello fff

In [52]:
# this is a comment in python 
#length of string

In [55]:

print(len("hello world"))

11

In [56]:
print(len(input("Type string here: ")))

Type string here: aish
4

In [57]:
# if user input a string with a space, the space is also having a size

In [58]:
#Variables 
#string variable

In [59]:
my_name = "Aishwarya"
print(my_name)

Aishwarya

In [60]:
#string input variable

In [61]:
my_name = input("What is your name?: ")
print(my_name)

What is your name?: aishwarya
aishwarya

In [62]:
#variable value changing

In [63]:
my_name = "abc"
print(my_name)
my_name = "xyz"
print(my_name)

abc
xyz

In [64]:
print("--" * 50)

----------------------------------------------------------------------------------------------------

In [65]:
#exeercise : take input string variable and find it length . store the length in length variable and input name into name variable.
name = input("Enter name: ")
length = len(name)
print(length)

Enter name: aishwaryaaaaaa
14

In [66]:
# erercise: take input for two variable a and b and exchange thier value with each other

In [68]:
a = input()
b = input()
# creating a temporary variable to store another variable
t = a
a = b
b = t
print("a:" + a)
print("b:" + b)

2
3
a:3
b:2

In [69]:
#project band name generator

In [71]:
print("Welcome to the Band Name Generator.")
city_name = input("What's name of the city you grew up in?\n")
pet_name = input("What's your pet name?\n")
print("Your Band name could be " + city_name + " " + pet_name)

Welcome to the Band Name Generator.
What's name of the city you grew up in?
belgaum
What's your pet name?
leo
Your Band name could be belgaum leo

In [72]:
#Data Type

In [73]:
print("Hello"[0])

H

In [74]:
print("Hello"[4])

o

In [75]:
print(123 + 456)

579

In [76]:
print(3.14159)
print(12.3 + 45.6)

3.14159
57.900000000000006

In [77]:
print(True)

True

In [78]:
print(False)

False

In [80]:
my_num = 123
my_name = "aishu"
print(type(my_num))
print(type(my_name))

<class 'int'>
<class 'str'>

In [81]:
my_int = 123 # <class 'int'>
# convert my_int variable into string data type and print
my_string = str(my_int)
print(my_string)

123

In [82]:
my_str ="123"
my_integer = int(my_str)
print(my_integer)

123

In [83]:
type(my_integer)

int

In [84]:
print(70 + float("100"))

170.0

In [85]:
print(str(12) + str(10))

1210

In [86]:
#project : convert inputed string into two digit integer and add position 1 and position 2 of the inputed digit

In [88]:
two_digit_number = input()

first_num = int(two_digit_number[0])
second_num = int(two_digit_number[1])

two_digit_number = first_num + second_num
print(two_digit_number)

34
7

In [89]:
print(3 + 4)

7

In [90]:
print(4 -3)

1

In [91]:
print(3 * 4)

12

In [92]:
print(2 ** 3)

8

In [93]:
print(3 * 3 + 3 / 3 - 3)

7.0

In [94]:
print(3 *(3 + 3) / 3 - 3)

3.0

In [95]:
print("Welcome to BMI calculator\n")
weight = float(input("Enter weight: "))
height = float(input("Enter height: "))
bmi = weight / height ** 2
print("BMI: " + str(bmi))

Welcome to BMI calculator

Enter weight: 45
Enter height: 5
BMI: 1.8

In [96]:
#round function

In [97]:
print(8 / 3)

2.6666666666666665

In [98]:
print(round(8 / 3))

3

In [101]:
print(round(8 / 3, 5))

2.66667

In [103]:
print(round(8 // 3))

2

In [109]:
result = 2
print(result)

2

In [110]:
result = result + 2
print(result)

4

In [111]:
result += 2
print(result)

6

In [115]:
#error
result = 7
print("Your result is:"+ str(result))

Your result is:7

In [116]:
result = 7
print(f"Your result is:{result}")

Your result is:7

In [118]:
num = 5001 
name ="Aishwarya"
print(f"My name is {name} and my number is {num} .")

My name is Aishwarya and my number is 5001 .

In [121]:
print("Welcome to tip calculator\n")
total = float(input("What is the total bill $"))
per_tip = int(input("What percentage tip would you like to give? 10, 12 or 15?"))
split = int(input("How many peoples to split the bill?"))

per_tip = (total * (per_tip / 100))
total = total + per_tip
split = total / split

result = round(split, 2)

#using round of function 
print(f"Each person should pay ${result}")

Welcome to tip calculator

What is the total bill $1200
What percentage tip would you like to give? 10, 12 or 15?10
How many peoples to split the bill?7
Each person should pay $188.57

In [122]:
print("Welcome to tip calculator\n")
total = float(input("What is the total bill $"))
per_tip = int(input("What percentage tip would you like to give? 10, 12 or 15?"))
split = int(input("How many peoples to split the bill?"))

per_tip = (total * (per_tip / 100))
total = total + per_tip
split = total / split

#format function 
print("Each person should pay ${:.2f}" .format(split))

Welcome to tip calculator

What is the total bill $200
What percentage tip would you like to give? 10, 12 or 15?12
How many peoples to split the bill?2
Each person should pay $112.00

In [124]:
a = 123.4
b = 567.8
print("{} and {}".format(a, b))

123.4 and 567.8

In [125]:
a = 123.456789
print("{:.2f}".format(a))

123.46

In [126]:
#condition operators

In [127]:
print("Welcome to the roller coaster")
height = int(input("What is your height in cm: "))

if height > 120:
    print("You are allowed")
else:
    print("You are not allowed ")

Welcome to the roller coaster
What is your height in cm: 156
You are allowed

In [129]:
#nested if / else
print("Welcome to the ride")
height = int(input("Enter your height: "))

if height > 120:
    age = int(input("Enter your age:"))
    if age > 18:
        print("You are allowed")
    else:
        print("You are not allowed")
else:
    print("You are not allowed")

Welcome to the ride
Enter your height: 149
Enter your age:20
You are allowed

In [130]:
#elif

In [137]:
num = int(input("Enter a number: "))
if num == 0:
 print("You enter{} as false".format(num)) 
elif num == 1:
    print("You enter{} as true".format(num))
else :
    print("You enter{} which is wrong".format(num))

Enter a number: 4
You enter4 which is wrong

In [144]:
height = int(input("Enter your height: "))
if height > 120:
    age = int(input("Enter your age: "))
    if age > 18:
        print("Your bill is 4Rs.")
    else:
        print("Your bill is 2Rs.")
    photo = input("Type Y to take photo and N to no: ")
    if photo == "Y":
        print("Photo taken")
    else:
        print("Thank You")
else:
    print("No entry")

Enter your height: 138
Enter your age: 34
Your bill is 4Rs.
Type Y to take photo and N to no: Y
Photo taken